@media screen and (max-width: 400px) and (min-width: 320px) {
  #main {
    height: 55vh;
  }
  #main .main_in {
    width: 100%;
  }
  #main .header .logo {
    float: left;
  }
  #main .header .logo > img {
    width: 35px;
    height: 35px;
    margin: 10px 0 0 10px;
  }
  #main .nav1 {
    margin-top: 10px;
    float: right;
    width: 260px;
    height: 30px;
  }
  #main .nav1 li {
    float: left;
    margin: 5px 15px 0 0;
  }
  #main .nav1 li a {
    font-weight: 600;
    font-size: 15px;
  }
  #main .nav2 {
    display: none;
  }
  #main .intro .myName {
    font-size: 70px;
    position: absolute;
    top: -50px;
    left: 10px;
  }
  #main .intro span {
    font-size: 80px;
    font-weight: 900;
    position: absolute;
    top: 40px;
    left: 10px;
    color: #e4202d;
  }
  #main .intro h3 {
    position: absolute;
    top: 160px;
    left: 18px;
    font-size: 14px;
  }
  #main .intro p {
    position: absolute;
    top: 182px;
    left: 18px;
    font-size: 13px;
    color: rgb(85, 85, 85);
  }
  /* --------------------------profile */
  #profile {
    width: 100%;
    height: 100vh;
    background-color: #c1f5ac;
  }
  #profile .profile_in {
    width: 100%;
    height: 120vh;
  }
  #profile .logo > img {
    width: 35px;
    height: 35px;
    margin: 10px 0 0 10px;
  }
  #profile .slogan {
    width: 300px;
    height: 300px;
    top: 50px;
    left: 0;
    position: relative;
  }
  #profile .slogan .eng {
    width: 250px;
    font-size: 16px;
    position: absolute;
    top: 50px;
    font-weight: 100;
  }
  #profile .slogan .kor {
    position: absolute;
    bottom: 65px;
    margin: 0 auto;
    margin-top: 0px;
    width: 260px;
    height: 50px;
    font-weight: bolder;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
  }
  #profile .contact {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 350px;
    left: 5px;
  }
  #profile .contact h3 {
    position: absolute;
    width: 150px;
    height: 30px;
    top: 40px;
    left: 60px;
  }
  #profile .contact h4 {
    font-size: 16px;
    position: absolute;
    top: 100px;
    left: 60px;
  }
  #profile .contact img {
    width: 40px;
    height: 35px;
  }
  #profile .contact .github {
    position: absolute;
    top: 120px;
    left: 60px;
  }
  #profile .contact .gmail {
    position: absolute;
    top: 120px;
    left: 105px;
  }
  /* -------------project---------- */
  #project {
    height: 200vh;
  }
  #project .logo {
    left: 0;
  }
  #project .logo > img {
    width: 35px;
    height: 35px;
    margin: 10px 0 0 10px;
  }
  #project .view {
    width: 300px;
    height: 250px;
    border-radius: 20%;
    top: 80px;
    left: 10px;
  }
  #project .dcrptn {
    width: 300px;
    height: 650px;
    border-radius: 50px;
    top: 350px;
    left: 10px;
  }

  /* ------------------contact */
  #contact {
    height: 90vh;
  }
  #contact .logo {
    left: 0;
  }
  #contact .logo > img {
    width: 35px;
    height: 35px;
    margin: 10px 0 0 10px;
  }
  #contact .contact_me {
    background-color: unset;
    width: 0px;
    height: 0px;
  }
  #contact .contact_me h1 {
    font-size: 30px;
    color: rgb(51, 0, 0);
    top: -70px;
    left: -130px;
  }
  #contact_box {
    top: 110px;
    left: 30px;
  }
  input[type="submit"] {
    margin-top: 20px;
  }
}
